<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Home - Hustle & Bustle</title>

  <!-- Favicon -->
  <link href="assets/favicon.png" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald%7CSource+Sans+Pro:300,400,600,700" rel="stylesheet"
    type="text/css" />
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/animsition/animsition.min.css" rel="stylesheet" />
  <link href="assets/vendor/slick/slick.css" rel="stylesheet" />
  <link href="assets/vendor/slick/slick-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/royal-preload.css" />
  <link rel="stylesheet" href="assets/css/bustle.css">


  <!-- OWL Carousel -->
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css" />
  <link rel="stylesheet" href="owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl-carousel/owl.theme.default.css" />
  <link rel="stylesheet" href="owl-carousel/owl.theme.default.min.css" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="royal_preloader">
  <div class="animsition">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="index.html" class="current current logo img-responsive"><img src="assets/images/HandB3 copy.png"
                style="width:90px; height:auto;" class="scroll-reveal" alt="logo" /></a>
          </div> <!-- /.col-md-4 -->

          <div class="col-sm-8">
            <a href="#" class="next-event-top scroll-reveal">next event: All white party by Moet Rose 14th Feb</a>
          </div> <!-- /.col-md-8 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.topbar -->


    <nav id="nav-1" class="navbar-fixed-top">
      <ul class="sidebar-nav nav">
        <li>
          <a href="#intro">H</a>
        </li>
        <li>
          <a href="#about" data-scroll>U</a>
        </li>
        <li>
          <a href="#company" data-scroll>S</a>
        </li>
        <li>
          <a href="#our-offerings" data-scroll>T</a>
        </li>
        <li>
          <a href="#events" data-scroll>L</a>
        </li>
        <li>
          <a href="#enquiry" data-scroll>E</a>
        </li>
      </ul>
    </nav>


    <section id="intro" class="intro-2" data-parallax="scroll" data-image-src="assets/images/club_3.jpg">

      <div class="content">
        <div class="container">
          <h1 class="scroll-reveal">Welcome to H & B.</h1>
          <p class="scroll-reveal">Meet the new standard.</p>
          <a href="event.html" class="btn btn-home scroll-reveal text-white">events</a>
          <a href="bookings.html" class="btn btn-home scroll-reveal text-white" style="margin-left: 20px;">Book now</a>

        </div> <!-- /.container -->
      </div> <!-- /.content -->

    </section> <!-- /#intro -->


    <!-- About 1 section -->
    <section id="about" class="about-1">



      <div class="about-intro">
        <div class="container">
          <div class="row">

            <div class="col-lg-5 col-md-6">
              <h3 class="scroll-reveal">A Unique Concept</h3>
              <p class="subtitle scroll-reveal">Our Story</p>
              <p class="text scroll-reveal text-justify">H & B is the epitome of lounge, nightlife and escapism. It is a
                marriage of two
                power houses in the hospitality and entertainment space;​ -HWP Group and Cubana
                Group​ . These two companies at the top of their game have come together with over
                three decades of experience to give Abuja the best of lounge and nightlife -the best
                of both worlds. H&B is here to help you escape from the everyday grind.</p><br>
              <a href="#events" class="btn btn-home scroll-reveal text-white">Learn More</a>
              <!-- <p class="quote scroll-reveal"><span>“</span>But I bought a yearbook ad from you, doesn't that mean anything?</p>
                <p class="subtitle text-right scroll-reveal">John Hamburguer</p> -->
            </div> <!-- /.col-md-6 -->

            <div class="col-lg-6 col-lg-offset-1 col-md-6">
              <img src="assets/images/club_4.jpg" class="img-responsive scroll-reveal img-rounded" alt="" />
              <p class="subtitle scroll-reveal">The H & B Experience</p>
              <p class="scroll-reveal text-justify">We at ​ HWP Group and Cubana Group​ , welcome you to the H & B
                experience. It is
                one we are actively working to expand across Nigeria and even export globally. The H
                & B experience is one you definitely want to have.</p>
            </div> <!-- /.col-md-6 -->

          </div> <!-- /.row -->
        </div>

      </div> <!-- /.about-intro -->

    </section>
    <!-- About 1 ends -->

    <!-- About 2 section -->
    <section class="about-1">
      <div class="about-intro">
        <div class="container">
          <div class="row">

            <div class="col-lg-5 col-md-6">
              <img src="assets/images/B2.png" style="width:100px; height:auto;" class="scroll-reveal img-responsive"
                alt="logo" />
              <!-- <h3 class="scroll-reveal">A Unique Concept</h3> -->
              <p class="subtitle scroll-reveal">Lounge | relax</p>
              <p class="text scroll-reveal text-justify">Lounge with us at Bustle. We’ve got you covered with good food,
                drinks and music, all
                set in a beautifully furnished and aesthetically pleasing space, right in the centre of
                the capital city.
                We have a dine-in food menu to delight your taste buds, crafted by our well trained
                international Lebanese chefs. Also available is our outdoor grills and custom cocktails
                from our amazing bartenders. </p>
              <!-- <p class="quote scroll-reveal"><span>“</span>But I bought a yearbook ad from you, doesn't that mean anything?</p>
                <p class="subtitle text-right scroll-reveal">John Hamburguer</p> -->
            </div> <!-- /.col-md-6 -->

            <!-- Insert lounge picture here -->

            <div class="col-lg-6 col-lg-offset-1 col-md-6">
              <img src="assets/images/food1.jpg" class="img-responsive scroll-reveal img-rounded" alt="" />
              <p class="subtitle scroll-reveal">The H & B Experience</p>
              <p class="scroll-reveal text-justify">You can join us for any of our weekly specialized events
                like, Ladies night etc. Come, relax and kick back at Bustle lounge, your comfort and
                enjoyment is our priority.</p>
            </div> <!-- /.col-md-6 -->

          </div> <!-- /.row -->
        </div>

      </div> <!-- /.about-intro -->

    </section>
    <!-- About 2 ends -->

    <!-- About 3 section -->
    <section class="about-1">



      <div class="about-intro">

        <div class="container">
          <div class="row">

            <div class="col-lg-5 col-md-6">
              <img src="assets/images/H2.png" style="width:100px; height:auto;" class="scroll-reveal img-responsive"
                alt="logo" />
              <!-- <h3 class="scroll-reveal">A Unique Concept</h3> -->
              <p class="subtitle scroll-reveal">Club | Fun</p>
              <p class="text scroll-reveal text-justify">Hustle, the sister club to Bustle lounge is where your night
                comes alive. We provide
                you with a place to de-stress and dance the night away. Hustle club gives you the
                best, -the best Dj’s and set lists Abuja has to offer, -the best kinds of top shelf drinks
                -unlimited and the best kind of fun. </p><br>
              <!-- <p class="quote scroll-reveal"><span>“</span>But I bought a yearbook ad from you, doesn't that mean anything?</p>
                <p class="subtitle text-right scroll-reveal">John Hamburguer</p> -->
            </div> <!-- /.col-md-6 -->

            <!-- Insert club picture here -->

            <div class="col-lg-6 col-lg-offset-1 col-md-6">
              <img src="assets/images/club_1.jpg" class="img-responsive scroll-reveal img-rounded" alt="" />
              <p class="subtitle scroll-reveal">The H & B Experience</p>
              <p class="scroll-reveal">Come party with us. At Hustle, you’re always in
                good company.</p>
            </div> <!-- /.col-md-6 -->

          </div> <!-- /.row -->
        </div>

      </div> <!-- /.about-intro -->

    </section>
    <!-- About 3 ends -->

    <!-- Company overview -->
    <section id="company" class="about-1">



      <div class="about-intro">
        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <h3 class="scroll-reveal">Company overview</h3>
              <p class="subtitle scroll-reveal">About Us</p>
              <p class="text scroll-reveal text-justify">Across the world, bars and night clubs are symbolic features of
                every city’s social life. With one of the world’s fastest rising urbanization rates, Africa’s cities are
                becoming hotspots for single professionals, young adults, tourists, and business travelers who want to
                connect and have a great time over drinks, food and music. Generally, have a feel of Lifestyle!<span
                  id="dots">...</span><span id="more">

                  <br>
                  The growing spending power on the continent, its overwhelmingly, young population and huge appetite
                  for fun, relaxation and partying makes the nightclub business an attractive prospect for entrepreneurs
                  and investors.
                  With an estimated 6 million strong population, 60% of which is made up of young people, Abuja is a
                  large market for the nightclub business.

                  <br>Despite the dominance of Major Nightclubs like Moscow Underground and Crave by Cubana alongside
                  other, bars and Lounges in Abuja nightlife scene, funlovers, and party goers are always eager to new
                  experience as it may present itself.

                  It is against this backdrop that the founders and sponsors of Hotwire Partners Limited and Cubana
                  Group Limited established the world class brand HUSTLE AND BUSTLE NIGHTCLUB AND CAFÉ LIMITED under all
                  applicable Laws of the Federal Republic of Nigeria to address the existing gap in the Abuja nightclub
                  scene.</span></p><br>
              <a onclick="myFunction()" id="myBtn" class="btn btn-home scroll-reveal text-white">Read More</a>
              <!-- <p class="quote scroll-reveal"><span>“</span>But I bought a yearbook ad from you, doesn't that mean anything?</p>
                <p class="subtitle text-right scroll-reveal">John Hamburguer</p> -->
            </div> <!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="slideshow-container">

                <div class="mySlides fade">
                  <img src="assets/images/hwpgroup.png" style="width:43%">
                </div>

                <div class="mySlides fade">
                  <img src="assets/images/cubana.png" style="width:40%">
                </div>

                <div style="text-align:center">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div> <br>
              <p class="subtitle scroll-reveal">The H & B Experience</p>
              <p class="scroll-reveal text-justify text-justify">Hustle and Bustle are an Entertainment and Lifestyle
                centre comprising of Restaurant, Lounge and nightclub, designed to house a minimum capacity of 1000
                people at a time. The centre would be the open to business for 24 hours operations daily.
              </p>
            </div> <!-- /.col-md-6 -->

          </div> <!-- /.row -->
        </div>

      </div> <!-- /.about-intro -->
  </div>
  <!-- Company overview ends -->


  <!-- vision mission and core values -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 column">
          <div class="card gr-1">
            <div class="txt">
              <h3>OUR </br>
                VISION</h3>
              <p>Delivering the Best Vibes in Nightlife and Entertainment Business.</p>
            </div>
            <a href="#">H & B</a>
            <div class="ico-card">
              <i class="fa fa-bullseye"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 column">
          <div class="card gr-2">
            <div class="txt">
              <h3>OUR </br>
                MISSION</h3>
              <p>To strategically develop a strong market niche as a foremost entertainment outfit of its kind.</p>
            </div>
            <a href="#">H & B</a>
            <div class="ico-card">
              <i class="fa fa-lightbulb-o"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 column">
          <div class="card gr-3">
            <div class="txt">
              <h3>CORE </br>VALUES</h3>
              <p> We provide unique services in a manner consistent with our mission.</p>
            </div>
            <a href="#">H & B</a>
            <div class="ico-card">
              <i class="fa fa-empire"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- Top management section -->
  <section class="about-1">
    <div class="about-intro">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <h3 class="scroll-reveal">Leadership</h3>
            <p class="subtitle scroll-reveal">Management Structure</p>
            <p class="text scroll-reveal text-justify">Hustle & Bustle is promoted by a team of successful serial
              entrepreneurs - Mr. Obinna Iyiegbu, Mr. Uyi Ogbebor, Mr. Ayokunle Akinbode and Mr. Kingsley Okafor.<br>
              Directors of the highly successful hospitality and lifestyle company [Hotwire Partners Group] and
              [Cubana Group Limited] with business interest spanning Nightclub, Lounge and Bars, Restaurant, Media
              Outfit and a Foundation for giving back to society.</p><br>
            <p class="quote scroll-reveal"><span>“</span>The H & B experience is one you definitely want to have!</p>
            <p class="subtitle text-right scroll-reveal">Uyi Ogbebor</p>
          </div> <!-- /.col-md-6 -->

          <div class="col-lg-6 col-lg-offset-1 col-md-6">
            <!-- Owl carousel -->
            <div class="owl-carousel">
              <div class="item"><img src="assets/images/uyi.jpg" alt="Uyi ogbebor" /></div>
              <div class="item"><img src="assets/images/obi.jpg" alt="Obinna Iyiegbu" />
              </div>
              <div class="item"><img src="assets/images/about.jpg" alt="Ayokunle Akinbode" />
              </div>
              <div class="item"><img src="assets/images/about.jpg" alt="Kingsley Okafor" />
              </div>
            </div>

            <!-- Owl carousel Ends -->
            <p class="subtitle scroll-reveal">The H & B Management</p>
            <p class="scroll-reveal text-justify">We at ​ HWP Group and Cubana Group​ , welcome you to the H & B
              experience. It is
              one we are actively working to expand across Nigeria and even export globally.</p>
          </div> <!-- /.col-md-6 -->

        </div> <!-- /.row -->
      </div>

    </div> <!-- /.about-intro -->

  </section>
  <!-- Top management structure -->


  <!-- Our offerings -->
  <section id="our-offerings" class="about-1">



    <div class="about-intro">

      <div class="container">
        <div class="row">

          <h3 class="scroll-reveal margin-left">Our Offerings</h3>
          <p class="subtitle scroll-reveal">menu | Lounge | club</p>

          <!-- Menu -->
          <div class="col-lg-4 col-md-4">
            <div class="hvrbox">
              <img src="assets/images/food5.jpg" alt="food" class="hvrbox-layer_bottom img-rounded">
              <div class="hvrbox-layer_top">
                <div class="hvrbox-text">EXQUISITE<br>
                  <a data-toggle="modal" data-target="#menumodal" class="btn btn-home scroll-reveal"
                    style="top: 50; left: 50;">Menu</a><br>
                  Expect foodgasms from the best of fine and casual dining.
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="menumodal" tabindex="-1" role="dialog" aria-labelledby="menumodal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="menumodal">MENU</h3>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="assets/images/food6.jpg" class="modal-img img-rounded" alt="food">
                  <h4>
                    Food
                  </h4>
                  <p class="text-justify">What better way to relax than to sate your cravings? Come have a meal
                    at our fine dine-in restaurant. Create memories with friends and loved ones over our
                    tastefully crafted dishes.<br>Each meal is freshly made by our international chefs with
                    the finest and freshest ingredients with your pleasure in mind. Take a look at our
                    menu if you need convincing and get to eating.</p> <br>

                  <img src="assets/images/drinks.jpg" class="modal-img img-rounded" alt="food">

                  <h4>
                    Drinks​
                  </h4>
                  <p class="text-justify">From fresh juices, beer, cocktails, hard liquor, spirits to vintage
                    wines.
                    Our bar is extensive and fully stocked with whatever you’re in the mood for.<br>
                    Our well trained bartenders are on hand to whip up custom drinks and cocktails for you with a
                    drinks menu that has been curated with drinks from across the world just for you.</p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Lounge -->
          <div class="col-lg-4 col-md-4">
            <div class="hvrbox">
              <img src="assets/images/karaoke1.jpg" alt="Lounge" class="hvrbox-layer_bottom img-rounded">
              <div class="hvrbox-layer_top">
                <div class="hvrbox-text">RELAX<br>
                  <a href="#events" class="btn btn-home scroll-reveal" style="top: 50; left: 50;">Lounge</a><br>
                  Get the best of live bands, karaoke nights and specialised events.
                </div>
              </div>
            </div>
          </div>

          <!-- Club -->
          <div class="col-lg-4 col-md-4">
            <div class="hvrbox">
              <img src="assets/images/party.jpg" alt="party" class="hvrbox-layer_bottom img-rounded">
              <div class="hvrbox-layer_top">
                <div class="hvrbox-text">FUN<br>
                  <a href="#events" class="btn btn-home scroll-reveal" style="top: 50; left: 50;">Club</a><br>
                  Unwind with us with lights, sounds, music and dancing.
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.row -->
      </div>

    </div> <!-- /.about-intro -->

  </section>
  <!-- About 1 ends -->
  <!-- Our offerings end -->


  <!-- Booking and Reservations -->
  <section id="events" class="events-1">

    <div class="container">
      <h2 class="scroll-reveal" style="font-size: 30px !important; margin-left:10px !important;">Events</h2>
      <p class="subtitle scroll-reveal">Bookings | Reservation</p>
    </div> <!-- /.container --> <br>

    <div class="slider scroll-reveal">

      <div class="slide">
        <div class="event-wrapper">
          <a href="event.html"><img src="assets/images/davidp.png" class="img-responsive artist" alt="davido" /></a>
          <div class="content">
            <a href="event.html">
              <h3 class="mt-5">Fluxx after party with DAVIDO </h3>
            </a>
            <p class="date">14th FEB <span></span> 11pm WAT </p>
          </div> <!-- /.content -->
        </div> <!-- /.event-wrapper -->
      </div> <!-- /.slide -->

      <div class="slide">
        <div class="event-wrapper">
          <a href="event.html"><img src="assets/images/fireboy.png" class="img-responsive artist" alt="fireboy" /></a>
          <div class="content">
            <a href="event.html">
              <h3>ABUJA BIKERS RAVE WITH FIREBOY</h3>
            </a>
            <p class="date">26th JAN <span></span> 10pm WAT</p>
          </div> <!-- /.content -->
        </div> <!-- /.event-wrapper -->
      </div> <!-- /.slide -->

      <div class="slide">
        <div class="event-wrapper">
          <a href="event.html"><img src="assets/images/mayorkun.png" class="img-responsive artist" alt="mayorkun" /></a>
          <div class="content">
            <a href="event.html">
              <h3>Hennesy XO Ultranight - Mayorkun</h3>
            </a>
            <p class="date">26th JAN <span></span> 10pm WAT</p>
          </div> <!-- /.content -->
        </div> <!-- /.event-wrapper -->
      </div> <!-- /.slide -->

    </div> <!-- /.slider -->

  </section> <!-- /#events -->

  <!-- Booking and reservation ends -->



  <!-- Gallery start -->

  <!-- Gallery ends -->

  <!-- Social media feeds start -->


  <!-- social media feeds end -->i



  <!-- Social Media feed -->

  <!-- Social media feed -->


  <section id="enquiry">
    .
    <div class="container">
      <div class="row">
        <h2 class="scroll-reveal ml-4" style="font-size: 30px !important;">Enquiries</h2>
        <div class="col-md-6">

          <div class="contact-info scroll-reveal">
            <p class="subtitle">Contact us</p>
            <a href="mailto:support@hustleandbustle.ng" style="text-decoration: none;">
              <p>support@hustleandbustle.ng</p>
            </a>
          </div> <!-- /.contact-info -->

          <p></p>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-facebook"></a>

          <div class="contact-info scroll-reveal">
            <p class="subtitle">Opening hours</p>
            <p>We are open 24 hours a day.</p>

          </div><br><br> <!-- /.contact-info -->

          <div class="contact-info scroll-reveal">
            <p class="subtitle">Address</p>
            <p>Plot 368, 80 Aminu Kano Crescent Wuse, Abuja.</p>
          </div> <!-- /.contact-info -->



        </div> <!-- /.col-md-5 -->
        <div class="col-md-6">

          <form>
            <div class="form-group">
              <label for="fullname" class="text-white">Full Name</label>
              <input type="text" class="form-control" id="fullname" placeholder="john doe">
            </div>

            <div class="form-group">
              <label for="email" class="text-white">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>

            <div class="form-group">
              <label for="info" class="text-white">Your Message</label>
              <textarea class="form-control" id="your message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-home scroll-reveal text-white">Submit</button>
          </form>


        </div> <!-- /.col-md-5 -->


      </div>
    </div>

  </section>

  <!-- Map -->

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Map -->
          <div class="mapouter">
            <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Plot%20368,%2080%20Aminu%20Kano%20Crescent%20Wuse,%20Abuja.&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                href="https://www.whatismyip-address.com"></a><br>
              <style>
                .mapouter {
                  position: relative;
                  text-align: center;
                  height: 500px;
                  width: 100%;
                }
              </style><a href="https://www.embedgooglemap.net">using google map on website</a>
              <style>
                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  height: 500px;
                  width: 100%;
                }
              </style>
            </div>
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section> <!-- /#contact -->


  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline list-unstyled scroll-reveal">
            <li><a href="#intro">Home</a></li>
            <li><a href="#company">About</a></li>
            <li><a href="#our-offerings">Services</a></li>
            <li><a href="#event">Events</a></li>
            <li><a href="#enquiry">Contact</a></li>
          </ul>
        </div> <!-- /.col-md-8 -->
        <div class="col-md-4">
          <p class="copyright scroll-reveal">2021 &copy; Hustle & Bustle</p>
        </div> <!-- /.col-md-4 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </footer>

  </div> <!-- /.animsition -->
  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/vendor/animsition/animsition.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="assets/vendor/parallax/parallax.min.js"></script>
  <script src="assets/vendor/jquery-smooth-scrolling/jquery.smoothscroll.min.js"></script>
  <script src="assets/vendor/slick/slick.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>
  <script src="assets/js/map.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/royal_preloader.min.js"></script>
  <!-- J query files -->
  <script src="owl-carousel/owl.carousel.min.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>